<div class="container">
  <h1>Cocktail List</h1>


<div class="d-flex justify-content-around">

  <% @cocktails.each do | cocktail | %>
  <div class="">
    <div class="row">
        <div class="col">
          <div class="card-trip">
      <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, height: 200, width: 400 %>
            <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= cocktail.name %></h2>
          <%= link_to 'More details | ', cocktail_path(cocktail) %>
         <%= link_to 'Delete', cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
        </div>

      </div>
  </div>
<% end %>
</div>

  <div class ="new">
      <%= link_to 'New Cocktail', new_cocktail_path(@cocktail), class: "btn btn-primary" %>
  </div>

</div>





